:root {
    --pri-color: #163348;
    --white-color: #ffffff;
    --black-color: #222222;
    --black-sub-color: #444444;
    --line-color: #dddddd;
}



/* 레이아웃 */
.inner {
    max-width: 1410px;
    margin: 0 auto;
}

.default {
    padding: 120px 0;
}

.tit {
    margin: 0 0 40px 0;
}

.tit h2 {
    margin: 0 0 24px 0;
    text-align: center;
    font-size: 56px;
    line-height: 56px;
    font-weight: 700;
    color: var(--pri-color);
    font-family: "Noto Serif KR";
}

.tit strong {
    display: block;
    text-align: center;
    margin: 0 0 24px 0;
    font-size: 24px;
    line-height: 24px;
    font-weight: 500;
    color: var(--black-color);
}

.tit p {
    text-align: center;
    font-size: 16px;
    line-height: 24px;
    font-weight: 300;
    color: var(--black-sub-color);
}


.br_m_768 {
    display: none;
}

.br_m_480 {
    display: none;
}

.br_pc {
    display: block;
}

/* 화살표 */
.arrow button {
    display: block;
    width: 40px;
    height: 40px;
    text-indent: -9999px;
}

.arrow_prev_w button {
    background: url(../images/arrow_next_w.svg)no-repeat center center/cover;
}

.arrow_next_w button {
    background: url(../images/arrow_prev_w.svg)no-repeat center center/cover;
}

.arrow_prev_p button {
    background: url(../images/arrow_next_p.svg)no-repeat center center/cover;
}

.arrow_next_p button {
    background: url(../images/arrow_prev_p.svg)no-repeat center center/cover;
}

/* 버튼 */
.btn_p {
    width: 180px;
    margin: 0 auto;
}

.btn_p>a {
    display: block;
    text-align: center;
    font-size: 16px;
    font-weight: 500;
    line-height: 54px;
    max-height: 56px;
    color: var(--pri-color);
    border: 1px solid var(--pri-color);
}

.btn_w {
    width: 180px;
    margin: 0 auto;
}

.btn_w>a {
    display: block;
    text-align: center;
    font-size: 16px;
    font-weight: 500;
    line-height: 54px;
    max-height: 56px;
    color: var(--white-color);
    border: 1px solid rgba(255, 255, 255, 0.5);
}

.swiper-scrollbar {
    margin: 0 auto;
    position: static !important;
}

.swiper-scrollbar .swiper-scrollbar-drag {
    cursor: pointer;
    background: var(--pri-color);
}

@media(max-width: 1500px) {
    .inner {
        padding: 0 40px;
    }

    .tit h2 {
        font-size: 48px;
        line-height: 48px;
    }

    .tit strong {
        font-size: 20px;
        line-height: 20px;
    }

    .btn_p {
        width: 160px;
    }

    .btn_p>a {
        font-size: 14px;
        line-height: 46px;
        max-height: 48px;
    }

    .btn_w {
        width: 160px;
    }

    .btn_w>a {
        font-size: 14px;
        line-height: 46px;
        max-height: 48px;
    }

}

@media(max-width: 1024px) {
    .default {
        padding: 80px 0;
    }

    .tit h2 {
        font-size: 40px;
        line-height: 40px;
    }

    .tit strong {
        font-size: 20px;
        line-height: 20px;
    }
}

@media(max-width: 768px) {
    .br_pc {
        display: none;
    }

    .br_m_768 {
        display: block;
    }

    .inner {
        padding: 0 16px;
    }

    .tit h2 {
        font-size: 32px;
        line-height: 32px;
    }

    .tit strong {
        margin: 0 0 16px 0;
        font-size: 18px;
        line-height: 18px;
    }

    .tit p {
        font-size: 14px;
        line-height: 22px;
    }

    .btn_p {
        width: 140px;
    }

    .btn_p>a {
        font-size: 12px;
        line-height: 38px;
        max-height: 40px;
    }

    .btn_w {
        width: 140px;
    }

    .btn_w>a {
        font-size: 12px;
        line-height: 38px;
        max-height: 40px;
    }
}

@media(max-width: 480px) {
    .br_m_768 {
        display: none;
    }

    .br_m_480 {
        display: block;
    }

    .default {
        padding: 60px 0;
    }

    .tit {
        margin: 0 0 24px 0;
    }

    .tit h2 {
        margin: 0 0 16px 0;
        font-size: 24px;
        line-height: 24px;
    }

    .tit strong {
        margin: 0 0 12px 0;
        font-size: 16px;
        line-height: 16px;
    }
}